In [3]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/Kaveh/Documents/Code/clippertv_data/clippertv-7a04bed62828.json'

In [5]:
import pandas as pd
from io import BytesIO

from google.cloud import storage

def read_csv_from_gcs(bucket_name, blob_name):
    """Reads a CSV file from Google Cloud Storage into a pandas DataFrame"""
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(blob_name)

    data = blob.download_as_bytes()
    return pd.read_csv(BytesIO(data))

# Usage
df = read_csv_from_gcs('clippertv_data', 'data_k.csv')

df

,Transaction Date,Transaction Type,Location,Route,Product,Debit,Credit,Balance,Category
0,2023-12-31 18:17:00,Single-tag fare payment,SFM bus,7,Clipper Cash,2.5,NaN,9.45,Muni Bus
1,2023-12-29 17:34:00,Single-tag fare payment,SFM bus,43,Clipper Cash,NaN,NaN,11.95,Muni Bus
2,2023-12-29 17:15:00,Single-tag fare payment,SFM bus,5R,Clipper Cash,NaN,NaN,11.95,Muni Bus
3,2023-12-29 16:56:00,Single-tag fare payment,SFM bus,18,Clipper Cash,2.5,NaN,11.95,Muni Bus
4,2023-12-29 14:40:00,Single-tag fare payment,SFM bus,38,Clipper Cash,NaN,NaN,14.45,Muni Bus
...,...,...,...,...,...,...,...,...,...
1214,2021-05-14 16:55:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,12.00,Muni Bus
1215,2021-05-06 19:32:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,14.50,Muni Bus
1216,2021-04-13 18:09:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,17.00,Muni Bus
1217,2021-04-04 14:46:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,19.50,Muni Bus
1218,2021-02-13 14:45:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,24.50,Muni Bus

In [6]:
def write_df_to_gcs(df, bucket_name, destination_blob_name):
    """Writes a DataFrame to a CSV file in Google Cloud Storage"""
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)

    # Convert DataFrame to CSV
    blob.upload_from_string(df.to_csv(index=False), 'text/csv')

# Usage
write_df_to_gcs(df, 'clippertv_data', 'test.csv')

In [4]:
import base64
import requests
import pandas as pd
from io import StringIO

# Personal Access Token (keep it secure!)
token = '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'
repo = 'kavwad/clippertv_data'
path = 'data_k.csv'

url = f'https://api.github.com/repos/{repo}/contents/{path}'
headers = {'Authorization': f'token {token}'}

response = requests.get(url, headers=headers)
content = response.json()['content']
csv_data = base64.b64decode(content).decode('utf-8')

# Use StringIO to read the CSV string into pandas
df = pd.read_csv(StringIO(csv_data))
df

,Transaction Date,Transaction Type,Location,Route,Product,Debit,Credit,Balance,Category
0,2023-12-31 18:17:00,Single-tag fare payment,SFM bus,7,Clipper Cash,2.5,NaN,9.45,Muni Bus
1,2023-12-29 17:34:00,Single-tag fare payment,SFM bus,43,Clipper Cash,NaN,NaN,11.95,Muni Bus
2,2023-12-29 17:15:00,Single-tag fare payment,SFM bus,5R,Clipper Cash,NaN,NaN,11.95,Muni Bus
3,2023-12-29 16:56:00,Single-tag fare payment,SFM bus,18,Clipper Cash,2.5,NaN,11.95,Muni Bus
4,2023-12-29 14:40:00,Single-tag fare payment,SFM bus,38,Clipper Cash,NaN,NaN,14.45,Muni Bus
...,...,...,...,...,...,...,...,...,...
1214,2021-05-14 16:55:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,12.00,Muni Bus
1215,2021-05-06 19:32:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,14.50,Muni Bus
1216,2021-04-13 18:09:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,17.00,Muni Bus
1217,2021-04-04 14:46:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,19.50,Muni Bus
1218,2021-02-13 14:45:00,Single-tag fare payment,SFM bus,MTANONE,Clipper Cash,2.5,NaN,24.50,Muni Bus

In [ ]:
pd.read_csv('https://github.com/kavwad/clippertv_data/blob/19ae506b3a264c19f20ba26e7dbbded37d26f692/data_k.csv')